$phone-width: 767px;
$tablet-width: 991px;
$desktop-width: 1024px;

$base-color: #c6538c;

$base-color-1: #28464b;
$base-color-2: #326771;
$base-color-3: #42d9c8;
$base-color-4: #2c8c99;
$base-color-5: #f5f7fa;

$secondary-color: #326771;
$text-color: #8df7ea;
$label-text-color: #bbbbbb;

$font-size: 1.2rem;

$margin: 1rem;
$padding-md: 1rem;
