@import '../abstract/vars';

.navigation-container {
	button {
		position: absolute;
		top: 0;
		z-index: 10;
		animation: swirl-in 0.6s ease-out both;
	}

	&.top {
		margin-top: 50px;
	}
}

.navigation {
	display: flex;
	justify-content: flex-start;
	padding: 12px;
	background-color: #{$base-color-1};

	.navigation-item {
		color: #{$text-color};
		text-decoration: none;
		padding: 8px;

		&.active {
			background-color: #{$base-color-2};
		}
	}
}

@media (max-width: #{$phone-width}) {
	.navigation {
		flex-direction: column;
		align-items: center;
		font-size: larger;
		font-weight: 700;
		padding: 48px 0px;
		animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

		.navigation-item {
			width: 100%;
			padding: 16px;
			text-align: center;
		}
	}
}

@media (min-width: #{$tablet-width}) {
	.navigation-item {
		&.active {
			background-color: unset;
			text-decoration: underline;
			text-underline-position: under;
		}
	}
}
@keyframes swirl-in {
	0% {
		transform: rotate(-540deg) scale(0);
		opacity: 0;
	}
	100% {
		transform: rotate(0) scale(1);
		opacity: 1;
	}
}

@keyframes slide-in-top {
	0% {
		transform: translateY(-1000px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-out-top {
	0% {
		transform: translateZ(1) translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateZ(-1100px) translateY(-1000px);
		opacity: 0;
	}
}
